<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>752569267842-399dnjcfaq2nin773agmveub821atdg3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.752569267842-399dnjcfaq2nin773agmveub821atdg3</string>
	<key>API_KEY</key>
	<string>AIzaSyBJqjyZxxzJb7hG0IF9Yhw17o9hRSABf70</string>
	<key>GCM_SENDER_ID</key>
	<string>752569267842</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.VladislavSharoshkin.CardioMessenger</string>
	<key>PROJECT_ID</key>
	<string>cardiomessenger</string>
	<key>STORAGE_BUCKET</key>
	<string>cardiomessenger.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:752569267842:ios:9488d1bfc63a5f09c2669b</string>
</dict>
</plist>